.top__page-button {
    margin: 0px 10px;
    box-sizing: border-box;
    align-self: center;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #fdfdfd;
    border: 2px solid #adcaf2;
    border-radius: 8px;
    cursor: pointer;
    float:right;
    display: none;
}