.genre__card {
  width: clamp(120px, 15vw, 200px);
  display: flex;
  padding: 3px;
  cursor:pointer;
  transition: backgroundr 1s, transform 1s;
}
.genre__card-wrapper {
  max-width: clamp(20%, 15vw, 50%);
}
.genre__card-img {
  max-width: 100%;  
  border-radius: 52px;
  min-width: 100px; 
}

.genre__card__title {
  margin-top: 20%;
  margin-left: calc(2vw - 50px);
  font-size: 20px;
  font-weight: bold;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.genre__card__title:hover {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: transform 2s;
}

@media (max-width: 400px) {
  
  .genre__card__title {
    margin-left: calc(2vw - 40px);
  }
}