.left-menu__wrapper{
  color: white;
}
.left-menu__logo {
  margin:20px; 
  text-align: center;
}
.left-menu__img {
  max-width:85%;
}

.left-menu__list-item {
  list-style-type: none; 
  font-size: 16px;
  color: #adcaf2;
  padding-bottom:15px;
  cursor: pointer;
}

.fa-solid {
  padding-right: 10px;
}
